source/index.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        script(src='js/jquery-3.3.1.min.js')
        
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')

        link(rel="stylesheet", href="fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.min.css")
        
        link(rel="yandex-tableau-widget" href="manifest.json")
        meta(charset='UTF-8')
        link(rel="shortcut icon" href="img/logo.png" type="image/x-icon")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        title Fury Merch
    body
        .container
            .quad
                <div class="psih">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="100%" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 29700 21000" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <clipPath id="id0">
                                <path d="M11521 4128l2048 4098 1793 0 0 -3736 1537 1537 0 2199 2562 0 0 -2562 -2200 0 -1537 -1536 7835 0 0 3011 2561 -2561 -512 0 -1537 1537 0 -3074 3585 0 0 13381 -1536 0 0 -2049 -9221 0 0 2049 -1537 1537 0 -3586 -5122 0 0 512 4098 0 0 1537c-2733,0 -5464,0 -8197,0l0 -1925 -1280 1281 -1281 -1281 0 1925 -1536 0 0 -5634 2817 2817 2817 -2817 0 4097 1024 0 0 -4097c1879,0 3757,0 5636,0l0 1536 -4098 0 0 513 9221 0 0 -513 -4099 0 0 -1536 5636 0 0 2049 1024 0 0 -513 1537 -1536 0 2049 2561 0 0 -6086 -4098 4099 0 -5186 -1024 0 0 4098 -8378 0 -1099 -2198 -1100 2198 -8377 0 0 -1536 1924 0 -1281 -1281 1281 -1281 -1924 0 0 -1536 5634 0 -2817 2817 1280 1281 3330 0 2050 -4098z"/>
                            </clipPath>
                        </defs>
                        <g id="quad site">
                            <metadata id="CorelCorpID_0Corel-Layer"/>
                            <g style="clip-path:url(#id0)">
                                <image x="-167" y="491" width="30034" height="20018" xlink:href="img/3.jpg"/>
                            </g>
                            <path class="fil0 str0" d="M11521 4128l2048 4098 1793 0 0 -3736 1537 1537 0 2199 2562 0 0 -2562 -2200 0 -1537 -1536 7835 0 0 3011 2561 -2561 -512 0 -1537 1537 0 -3074 3585 0 0 13381 -1536 0 0 -2049 -9221 0 0 2049 -1537 1537 0 -3586 -5122 0 0 512 4098 0 0 1537c-2733,0 -5464,0 -8197,0l0 -1925 -1280 1281 -1281 -1281 0 1925 -1536 0 0 -5634 2817 2817 2817 -2817 0 4097 1024 0 0 -4097c1879,0 3757,0 5636,0l0 1536 -4098 0 0 513 9221 0 0 -513 -4099 0 0 -1536 5636 0 0 2049 1024 0 0 -513 1537 -1536 0 2049 2561 0 0 -6086 -4098 4099 0 -5186 -1024 0 0 4098 -8378 0 -1099 -2198 -1100 2198 -8377 0 0 -1536 1924 0 -1281 -1281 1281 -1281 -1924 0 0 -1536 5634 0 -2817 2817 1280 1281 3330 0 2050 -4098z"/>
                        </g>
                    </svg>
                </div>
        .container
            a(href="tel:+79397313318").btn-block.text-center
                h1.text-dark +7(939)-731-33-18

public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <script src="js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.min.css"/>
    <link rel="yandex-tableau-widget" href="manifest.json"/>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="css/main.css"/>
    <title>Fury Merch</title>
  </head>
  <body>
    <div class="container">
      <div class="quad"><div class="psih">
<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="100%" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 29700 21000" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<clipPath id="id0">
<path d="M11521 4128l2048 4098 1793 0 0 -3736 1537 1537 0 2199 2562 0 0 -2562 -2200 0 -1537 -1536 7835 0 0 3011 2561 -2561 -512 0 -1537 1537 0 -3074 3585 0 0 13381 -1536 0 0 -2049 -9221 0 0 2049 -1537 1537 0 -3586 -5122 0 0 512 4098 0 0 1537c-2733,0 -5464,0 -8197,0l0 -1925 -1280 1281 -1281 -1281 0 1925 -1536 0 0 -5634 2817 2817 2817 -2817 0 4097 1024 0 0 -4097c1879,0 3757,0 5636,0l0 1536 -4098 0 0 513 9221 0 0 -513 -4099 0 0 -1536 5636 0 0 2049 1024 0 0 -513 1537 -1536 0 2049 2561 0 0 -6086 -4098 4099 0 -5186 -1024 0 0 4098 -8378 0 -1099 -2198 -1100 2198 -8377 0 0 -1536 1924 0 -1281 -1281 1281 -1281 -1924 0 0 -1536 5634 0 -2817 2817 1280 1281 3330 0 2050 -4098z"/>
</clipPath>
</defs>
<g id="quad site">
<metadata id="CorelCorpID_0Corel-Layer"/>
<g style="clip-path:url(#id0)">
<image x="-167" y="491" width="30034" height="20018" xlink:href="img/3.jpg"/>
</g>
<path class="fil0 str0" d="M11521 4128l2048 4098 1793 0 0 -3736 1537 1537 0 2199 2562 0 0 -2562 -2200 0 -1537 -1536 7835 0 0 3011 2561 -2561 -512 0 -1537 1537 0 -3074 3585 0 0 13381 -1536 0 0 -2049 -9221 0 0 2049 -1537 1537 0 -3586 -5122 0 0 512 4098 0 0 1537c-2733,0 -5464,0 -8197,0l0 -1925 -1280 1281 -1281 -1281 0 1925 -1536 0 0 -5634 2817 2817 2817 -2817 0 4097 1024 0 0 -4097c1879,0 3757,0 5636,0l0 1536 -4098 0 0 513 9221 0 0 -513 -4099 0 0 -1536 5636 0 0 2049 1024 0 0 -513 1537 -1536 0 2049 2561 0 0 -6086 -4098 4099 0 -5186 -1024 0 0 4098 -8378 0 -1099 -2198 -1100 2198 -8377 0 0 -1536 1924 0 -1281 -1281 1281 -1281 -1924 0 0 -1536 5634 0 -2817 2817 1280 1281 3330 0 2050 -4098z"/>
</g>
</svg>
</div>
      </div>
    </div>
    <div class="container"><a class="btn-block text-center" href="tel:+79397313318">
        <h1 class="text-dark">+7(939)-731-33-18</h1></a></div>
  </body>
</html>
